<div class="content">
	<h1>Welcome to Dominion</h1>
	  <%= form_tag("/login", method: "post", class: "pure-form pure-form-stacked", enctype: "application/json") do %>
			<fieldset>
			<legend>Make yourself known</legend>

			<label for="username">Username</label>
			<input name="username" id="username" type="text">

			<%= submit_tag("Log in", class: "pure-button pure-button-primary") %>

		</fieldset>

		<% end %>

</div>


